// table {
//     width: auto;
//   }
//   container-fluid{
//     height: auto;
//     width: auto;
//     overflow: auto;
//   }
  .mat-table-sticky {
    border-right: 1px solid #272525;
  }
  .one{
    color: #067524;
}
.two{
    color: #ff0000;
}