@import "../../../assets/css/main.css";
@import "../../../assets/css/util.css";
@import "../../../assets/vendor/bootstrap/css/bootstrap.min.css"; 
@import "../../../assets/vendor/select2/select2.min.css"; 
.send{
    width: 80px;
    text-align: center;
}

.card{
    width: 1500px;
    margin: 10px;
}
.comment{
    margin: 10px 10px 15px 10px;
}
.p{
    
    padding-top: 9px;
    padding-left: 10px;
}