
  
  <!-- product Detail -->
  <div class="container bgwhite p-t-35 p-b-80" *ngFor="let product of dataSource.data">
    <div class="flex-w flex-sb">
      <div class="w-size13 p-t-30 respon5">
        <div class="wrap-slick3 flex-sb flex-w">
          <div class="wrap-slick3-dots"></div>
  
          <div class="slick3">
            
              <div class="wrap-pic-w">
                <img src="assets/images/{{product.imageDetail}}" alt="IMG-product">
              </div>
            
  
            <!-- <div class="item-slick3" data-thumb="assets/images/thumb-item-02.jpg">
              <div class="wrap-pic-w">
                <img src="assets/images/product-detail-02.jpg" alt="IMG-product">
              </div>
            </div>
  
            <div class="item-slick3" data-thumb="assets/images/thumb-item-03.jpg">
              <div class="wrap-pic-w">
                <img src="assets/images/product-detail-03.jpg" alt="IMG-product">
              </div>
            </div> --> 
          </div>
        </div>
      </div>
  
      <div class="w-size14 p-t-30 respon5">
        <h4 class="product-detail-name m-text16 p-b-13">
          {{product.name}}
        </h4>
  
        <span class="m-text17">
          $ {{product.price}}
        </span>
  
      
        <!--  -->
        <div class="p-t-33 p-b-60">
          <div class="flex-m flex-w p-b-10">
            <mat-form-field >
              <mat-label>Size
                
              </mat-label>
              <mat-select [(value)]="selected">
                <mat-option>Choose an option</mat-option>
                <mat-option value="option1">Price: low to high</mat-option>
                <mat-option value="option2">Price: high to low</mat-option>
              
              </mat-select>
            </mat-form-field>
          </div>
  
          <div class="flex-m flex-w">
            <mat-form-field >
              <mat-label>Color</mat-label>
              <mat-select [(value)]="selected">
                <mat-option>Choose an option</mat-option>
                <mat-option value="option1">Price: low to high</mat-option>
                <mat-option value="option2">Price: high to low</mat-option>
                
              </mat-select>
            </mat-form-field>
          </div>
  
          <div class="flex-r-m flex-w p-t-10">
            <div class="w-size16 flex-m flex-w">
              <div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-10">
                <button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2">
                  <i class="fs-12 fa fa-minus" aria-hidden="true"></i>
                </button>
  
                <input class="size8 m-text18 t-center num-product" type="number" name="num-product" value="1">
  
                <button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2">
                  <i class="fs-12 fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
  
              <div class="btn-addcart-product-detail size9 trans-0-4 m-t-10 m-b-10">
                <!-- Button -->
                <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
        </div>
  
        <div class="p-b-45">
          <span class="s-text8 m-r-35">SKU: MUG-01</span>
          <span class="s-text8">Categories: Mug, Design</span>
        </div>
  
        <!--  -->
        <mat-accordion >
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Description
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{product.description}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  
  
  