@import "../../../assets/css/main.css";
@import "../../../assets/css/util.css";
@import "../../../assets/vendor/bootstrap/css/bootstrap.min.css"; 
.card-user{
   padding: 10px;
}
.selection-2{
    border-radius: 10px;
    height: 38px;
}
table {
    width: 100%;
  }