li{
    list-style: none;
}
button{
    text-align: center;
    
}
.dropdown-menu{
    max-width: 100px;
}
.actions{
    padding-right: 15px;
}
.them{
    float: right;
}
.mat-elevation-z8{
    margin-bottom: 5px;
}
.one{
    color: #067524;
}
.two{
    color: #ff0000;
}
.mat-column-price {
    width: 110px;
    padding-left: 20px;
    
  }
table{
    width: auto;
    height: auto;
   }
.size{
    padding-right: 5px;
}
   
