@import "../../../assets/css/main.css";
@import "../../../assets/css/util.css";
@import "../../../assets/vendor/bootstrap/css/bootstrap.min.css"; 

mat-slider {
    width: 235px;
  }
  mat-option{
    margin-left: 5px;
  }
  .p-b-54{
    margin: 0px auto;
    padding: 0px;
  }