<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(assets/images/Banner10.jpg);">
    <h2 class="l-text2 t-center">
      About
    </h2>
  </section>
  
  <!-- content page -->
  <section class="bgwhite p-t-66 p-b-38">
    <div class="container">
      <div class="row">
        <div class="col-md-4 p-b-30">
          <div class="hov-img-zoom">
            <img src="../../../assets/images/about.jpg" alt="IMG-ABOUT">
          </div>
        </div>
  
        <div class="col-md-8 p-b-30">
          <h3 class="m-text26 p-t-15 p-b-16">
            Về chúng tôi!
          </h3>
  
          <p class="p-b-28">
            Nhằm đáp ứng nhu cầu của khách hàng và các cơ sở sản xuất đồ dùng handmade leather. Chúng tôi đã ra đời để cung cấp cho khách hàng những phụ kiện và sản phẩm tốt với giá rẻ nhất.
          </p>
  
          <div class="bo13 p-l-29 m-l-9 p-b-10">
            <p class="p-b-11">
              Khai trương của hàng từ năm 2015. Chúng tôi mong muốn được cung cấp và đáp ứng các nhu cầu của khách hàng.
              <br>
              <br>
              Cửa hàng nằm tại 66 ngõ Hoàng An A - Phường Trung Phụng - Quận Đống Đa - Hà Nội.
              <br>
              <br>
              Mở cửa từ 8h30 đến 19h, từ T2 - T6.
            </p>
  
            <span class="s-text7">
              - Dừa's Crafts
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
