
<table >
    <tr>
     
      <th>Tên</th>
      <th>Họ</th>
      <th>Tuổi</th>
      <th>Giới tính</th>
      <th>Email</th>
      <th>SDT</th>
      <th>Địa chỉ</th>
      <th>Công ty</th>
      <th>Mô tả</th>

    </tr>
    <tr>
     
      <td>{{account.firstName}}</td>
      <td>{{account.lastName}}</td>
      <td>{{account.age}}</td>
      <td>{{account.gender? "Nam":"Nữ"}}</td>
      <td>{{account.email}}</td>
      <td>{{account.telephone1}}</td>
      <td>{{account.address1}}</td>
      <td>{{account.company}}</td>
      <td>{{account.description}}</td>
    </tr>
    </table>
 