
<!-- Blog -->
<section class="blog bgwhite p-t-94 p-b-65">
    <div class="container">
      <div class="sec-title p-b-52">
        <h3 class="m-text5 t-center">
          BLOG
        </h3>
      </div>
  
      <div class="row">
        <div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
          <!-- Block3 -->
          <div class="block3">
            <a routerLink="/home" class="block3-img dis-block hov-img-zoom">
              <img src="../../../assets/images/home/blog1.jpg"  alt="IMG-BLOG">
            </a>
  
            <div class="block3-txt p-t-14">
              <h4 class="p-b-7">
                <a routerLink="/home" class="m-text11">
                  Hướng dẫn chọn chất liệu phù hợp với mỗi sản phẩm
                </a>
              </h4>
  
              <span class="s-text6">By</span> <span class="s-text7">Dừa's Craft</span>
              <span class="s-text6"></span> <span class="s-text7"></span>
  
              <p class="s-text8 p-t-16">
                Sản phẩm mẫu mã về đồ hand-made rất đa dạng, đồng nghĩa với việc lựa chọn chất liệu phù hợp với mỗi sản phẩm rất khó khăn
              </p>
            </div>
          </div>
        </div>
  
        <div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
          <!-- Block3 -->
          <div class="block3">
            <a routerLink="/home" class="block3-img dis-block hov-img-zoom">
              <img src="../../../assets/images/home/blog2.jpg" alt="IMG-BLOG">
            </a>
  
            <div class="block3-txt p-t-14">
              <h4 class="p-b-7">
                <a routerLink="/home" class="m-text11">
                  Các sản phẩm hand-made dễ làm
                </a>
              </h4>
  
              <span class="s-text6">By</span> <span class="s-text7">Dừa's Craft</span>
              <span class="s-text6"></span> <span class="s-text7"></span>
  
              <p class="s-text8 p-t-16">
               Sau đây chúng tôi xin liệt kê các sản phẩm hand-made dễ làm với các chất liệu đơn giản
              </p>
            </div>
          </div>
        </div>
  
        <div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
          <!-- Block3 -->
          <div class="block3">
            <a routerLink="/home" class="block3-img dis-block hov-img-zoom">
              <img src="../../../assets/images/home/blog3.jpg" alt="IMG-BLOG">
            </a>
  
            <div class="block3-txt p-t-14">
              <h4 class="p-b-7">
                <a routerLink="/home" class="m-text11">
                  Các thao tác cơ bản khi sử dụng kim khâu
                </a>
              </h4>
  
              <span class="s-text6">By</span> <span class="s-text7">Dừa's Craft</span>
              <span class="s-text6"></span> <span class="s-text7"></span>
  
              <p class="s-text8 p-t-16">
                Với các thao tác cơ bản về kim khâu, bạn có thể tạo ra những sản phẩm cực đẹp
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>