<!-- <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/util.css">
<link rel="stylesheet" type="text/css" href="assets/css/main.css"> -->
<!-- Header -->

	
	<!-- Banner video -->
	<section class="parallax0 parallax100" style="background-image: url(assets/images/banner-video.jpg);">
		<div class="overlay0 p-t-190 p-b-200">
			<div class="flex-col-c-m p-l-15 p-r-15">
				<span class="m-text9 p-t-45 fs-20-sm">
					Bộ Sưu Tập
				</span>

				<h3 class="l-text1 fs-35-sm">
					ĐỒ DA
				</h3>

				<!-- <span class="btn-play s-text4 hov5 cs-pointer p-t-25" data-toggle="modal" data-target="#modal-video-01">
					<i class="fa fa-play" aria-hidden="true" ></i>
					Play Video
				</span> -->
			</div>
		</div>
  </section>
  <br>
  <br>